@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
} 

p {
    color: #fff;
}

a {
    text-decoration: none;
}

.note {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
    font-style: italic;
}

.download-all {
    color: #339c87;
}

.download-all:hover {
    color: #2a8270;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
}

.pagination .page-link {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
  }
  
  .pagination .page-link:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .pagination .active .page-link {
    background-color: #27632a; /* Even darker green for active page */
    border-color: #27632a;
  }