@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
} 

p {
    color: #fff;
}

a {
    text-decoration: none;
}

.download-all {
    color: #339c87;
}

.download-all:hover {
    color: #2a8270;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(2);
    transition: transform 0.3s;
}

.gallery-container {
    padding: 20px;
    height: 100vh;
}